* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;
}

.box {
  height: 300px;
  width: 300px;
  background-color: crimson;
  border-radius: 10px;
}
